[submodule "pocket-tts"]
	path = pocket-tts
	url = https://github.com/kyutai-labs/pocket-tts.git
[submodule "nova/backend/nova-l7"]
	path = nova/backend/nova-l7
	url = https://github.com/dheerajbunny/nova-l7.git
	branch = v1.1
